userInterface/node_modules
userInterface/package-lock.json

backendServer/node_modules
backendServer/package-lock.json
backendServer/Tesseract-OCR
backendServer/__pycache__
backendServer/Python38
backendServer/nodejs
backendServer/node.exe
backendServer/ImageTextExtraction/__pycache__

dictionaryProgram(optional)
.DS_Store
